%ubu-medium{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}
%ubu-bold{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}
%ubu-light{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}
%ubu-regular{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
%sf-bold{
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-weight: 700;
}

